#division{
	margin-top:106px;
	height: 593px;
}
.change-color{
	background-color: rgb(190,190,190);
}
hr{
	color: rgb(80,80,80);
	background-color: rgb(80,80,80);
}
.font{
	font-size: 23px;
	margin: 0px;
}
.footer{
	margin:0;
	padding-top:15px;
	padding-bottom:15px;
}